.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #333333;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background-color: #ffffff;
}

.returned {
  /* border: 2px solid black; */
  /* padding: 5px; */
  border: none;
  margin: 10px;
  padding: 5px;
  /* width: 235px; */
  width: 320x;
  height: 345px;
  text-align: center;
  list-style: none;
  /* flex-grow: 1; */
  border: 1px solid black;
  border-radius: 5px;
}

.genreBadges {
  font-size: 10px;
  pointer-events: none;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
  margin: 2px;
}

.animeData {
  height: 224px;
  margin-left: 0;
}

.animeTitle {
  height: 60px;
  width: 160px;
  /* margin: 5 0; */
  float: right;
  font-size: 13px;
  font-weight: bold;
}

.coverImage {
  width: 160px;
  height: 224px;
  float: left;
}

.synopsis {
  width: 160px;
  height: 150px;
  float: right;
  text-align: left;
  margin-left: 5px;
  margin-top: 7px;
  font-size: 11px;
}

.genreDiv {
  padding-top: 15px;
  height: 50px;
  width: 320px;
  text-align: center;
}

.broadcastData {
  border: 2px solid #0099ff;
  border-radius: 25px;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: #0099ff;
  margin-top: 5px;
  font-size: 15px;
}

#logo {
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 70px;
  font-family: "Righteous", cursive;
}

#tagline {
  padding: 20px 0;
  font-size: 25px;
  width: 100%;
  color: white;
  background-color: #ff6666;
  text-transform: capitalize;
}

.selector {
  margin: 10px 5px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #0099ff;
  text-transform: capitalize;
}

.submit {
  margin: 10px 5px;
  height: 20px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #0099ff;
  text-transform: capitalize;
}

.selector:hover,
.submit:hover {
  background-color: #61b7f0;
}

.selector.selected {
  background-color: #ff6666;
}

.selector.selected:hover {
  background-color: #ff9494;
}

@media screen and (min-width: 100px) and (max-width: 540px) {
  .btn-group button {
    width: 30px;
    height: 15px;
    border-radius: 25px;
    font-size: 0px;
  }

  .selectorLabel {
    visibility: hidden;
    font-size: 0px;
  }
  .selectorLabel::first-letter {
    visibility: visible;
    font-size: 15px;
    text-align: left;
  }
}
