.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #333333;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background-color: #ffffff;
}

#logo {
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  font-family: "Righteous", cursive;
}

#tagline {
  padding: 20px 0;
  font-size: 25px;
  width: 100%;
  color: white;
  background-color: #ff6666;
  text-transform: capitalize;
}

.selector {
  margin: 10px 5px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #0099ff;
  text-transform: capitalize;
}

.submit {
  margin: 10px 5px;
  height: 20px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #0099ff;
  color: #0099ff;
  background-color: rgba(0, 151, 19, 0);
  text-transform: capitalize;
}
.searchBox {
  color: white;
  border: none;
  border-bottom: 1px solid white;
  /* border-radius: 10px; */
  background-color: rgba(0, 151, 19, 0);
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.white {
  color: white;
}

.searchSubmit {
  border: 1px solid #0099ff;
  color: #0099ff;
  background-color: rgba(0, 151, 19, 0);
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.selector:hover,
.submit:hover {
  background-color: rgba(0, 151, 19, 0);
  color: #61b7f0;
  border: 1px solid #61b7f0;
}

.selector.selected {
  background-color: #ff6666;
}

.selector.selected:hover {
  color: #ff9494;
  background-color: rgba(0, 151, 19, 0);
  border: 1px solid #ff6666;
}

@media screen and (min-width: 100px) and (max-width: 540px) {
  .btn-group button {
    width: 30px;
    height: 15px;
    border-radius: 25px;
    font-size: 0px;
  }

  .selectorLabel {
    visibility: hidden;
    font-size: 0px;
  }
  .selectorLabel::first-letter {
    visibility: visible;
    font-size: 15px;
    text-align: left;
  }
}
